@model SmartSnag.Domain.Entities.Company

<div class="panel panel-primary">
     <div class="panel-heading">

     </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped" >
            <tr><th>@Model.CompanyID</th>
                <th>@Model.CompanyName</th>
                <th>@Model.CompanyCategory</th>
            </tr>
            <tr>

            </tr>
        </table>
    </div>
</div>

